/* Global variables */
:root {
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Transition Styles */
/* transitions go through -enter, -enter-active and -enter-done */
.fadedown-enter {
  opacity: 0.01;
  transform: translateY(-20px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}

.fadedown-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}

.fadeup-enter {
  opacity: 0.01;
  transform: translateY(20px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}

.fadeup-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}

.fade-enter {
  opacity: 0;
  transition: opacity 300ms var(--easing);
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms var(--easing);
}
